version: "3.8"
services:
  postgres:
    image: postgres:12
    restart: on-failure
    environment:
      POSTGRES_USER: helsinkibenefit
      POSTGRES_PASSWORD: helsinkibenefit
      POSTGRES_DB: helsinkibenefit
    ports:
      - 5434:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    container_name: helsinkibenefit-db

  django:
    build:
      context: ./backend
      target: development
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://helsinkibenefit:helsinkibenefit@helsinkibenefit-db/helsinkibenefit
      DATABASE_HOST: helsinkibenefit-db.helsinki
    volumes:
      - ./backend:/app
    ports:
      - "127.0.0.1:8000:8000"
    depends_on:
      - postgres
    container_name: helsinkibenefit-backend

#    applicant:
#        build:
#            context: ./frontend
#            dockerfile: applicant/Dockerfile
#            target: development
#        volumes:
#            - ./frontend/applicant:/app/applicant
#            - ./frontend/shared:/app/shared
#            - /app/node_modules
#            - /app/.next
#        env_file:
#            - .env
#        ports:
#            - '3000:3000'
#        container_name: helsinkibenefit-applicant

volumes:
  pgdata:
    driver: local

networks:
  default:
    name: helsinki
